{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <a class="masthead__home-mobile" href="{{ base_path }}/">About</a>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">About</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
        <div class="skin-switch">
          <button type="button" class="skin-switch__btn" aria-haspopup="true" aria-expanded="false" title="Change background" aria-label="Change background"><i class="fas fa-palette" aria-hidden="true"></i></button>
          <div class="skin-switch__menu" role="menu" hidden>
            <p class="skin-switch__title">Background</p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>